################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Insoleuse/Debug
/Insoleuse/LiquidMenu/doc
/Insoleuse/LiquidMenu/examples
/Insoleuse/__vm
/Insoleuse/LiquidMenu/_config.yml
/Insoleuse/LiquidMenu/README.md
/Insoleuse/LiquidMenu/LICENSE
/Insoleuse/LiquidMenu/library.properties
/Insoleuse/LiquidMenu/keywords.txt
/.vs/
/Schematics/Insoleuse/_saved_Insoleuse.sch
